.navbar {
  background: #2e4057 !important;
}

.Rules {
  background: #2f2d2e;
  color: #fff;
}

.Rules h6 {
  border-bottom: 1px dotted #fff;
}

.Rules ul {
  list-style-type: circle;
  padding-left: 15px;
  font-size: 0.8em;
}

.JoinGame .btn-primary {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #8ab33e;
  font-weight: 600;
  font-size: 1.2em;
}

.PlayerList { background: #99c24d; color: #fff; }
.PlayerList .JoinGame { border-bottom: 1px solid #8ab33e; }
.PlayerList table { font-size: 0.9em; }
.PlayerList table tr.active { font-weight: bold; }
.PlayerList .badge.gold { background: #e4e400; color: #886500; }
.PlayerList .badge.silver { background: silver; color: #5a5a5a; }
.PlayerList .badge.bronze { background: orangered; color: #fff; }

.Game {
  position: relative;
  font-weight: 500;
}

.GameHeader .score { display: inline-block; color: #888; background: rgb(236, 236, 236); }
.GameHeader .score .score-label { display: inline-block; }
.GameHeader .score .score-value { display: inline-block; font-weight: 600; color: #6d8d31; background: #d2d6cb; }

.GameHeader ul.QuestionBricks {
  padding: 0;
}

.GameHeader ul.QuestionBricks li {
  width: 6.66%;
  border: 1px solid #fff;
  display: inline-block;
  text-align: center;
  background: #f3f3f3;
  padding: 3px;
  border-radius: 5px;
  color: #999;
}

.GameHeader ul.QuestionBricks li.question-correct { background: #99c24d !important; color: #fff !important; }
.GameHeader ul.QuestionBricks li.question-wrong { background: #e81d1d !important; color: #fff !important; }
.GameHeader ul.QuestionBricks li.question-unanswered { background: #dedede !important; color: #bbb !important; }
.GameHeader ul.QuestionBricks li.question-current { color: #fff; background: #1c82f1; }

.GameHeader .brick-tooltip { text-align: left !important; padding: 8px 10px !important; font-weight: 400 !important; }
.GameHeader .brick-tooltip .question-label { font-weight: 600; }
.GameHeader .brick-tooltip .player-proposition { font-weight: 600; }
.GameHeader .brick-tooltip .badge { font-size: 0.9em !important; font-weight: 500 !important; }

.PlayerProposition {
  background: #2e4057;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.PlayerProposition .feedback.success { background: #6d8d31; }
.PlayerProposition .feedback.failure { background: #e81d1d; }

.Question h5 {
  padding-top: 2em;
}

.Question .question-container {
  padding-bottom: 2em;
}

.Question .countdown {
  background: #2f2d2e;
  color: #fff;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 15px;
  position: relative;
  margin-top: 2em;
}

.Question .countdown .time {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2em;
  font-weight: 700;
}

.Answer {
  position: absolute;
  left: 0;
  right: 0;
  padding: 2em;
}

.Answer .answer-text {
  color: #4b7006;
  font-weight: 600;
  font-size: 1.6em;
}

.GameResults table {
  width: 80%;
  margin: 0 auto;
}

.GameResults table tr.first .fa-trophy { color: #eac600 !important; }
.GameResults table tr.second .fa-trophy { color: silver !important; }
.GameResults table tr.third .fa-trophy { color: brown !important; }


@media (max-width: 768px) {
  .Question h5 { padding-top: 1em; }
  .Question .countdown { margin-top: 1em; }
  .Question .question-container { padding-bottom: 1em; }
  .Answer { padding: 1em; }
}